.blog {
  position: relative;
}
.blog_bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 15rem;
  background-color: rgba(231, 76, 60, 0.8);
  z-index: -10;
}
.blog_heading {
  font-family: "Means Web,Georgia,Times,Times New Roman,serif";
  padding-top: 8rem;
  font-size: 3rem;
  font-weight: 400;
  color: white;
  margin-left: 3rem;
}
.blog_container {
  margin: 7rem 5rem 3rem 5rem;
}
.blog_card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: max-content;
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
}
.blog_card-img {
  width: 40%;
  height: 100%;
  padding: 2rem;
}
.blog_card-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog_card-content {
  width: 60%;
  padding: 2rem;
}
.blog_card-content > p {
  width: 100%;
  text-align: justify;
}
.blog_card-content > h1 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
.blog_card-content > h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
.blog_card-content > span {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgba(231, 76, 60);
  margin-bottom: 1rem;
  display: block;
}
.blog_card-content > p {
  font-size: 1.3rem;
  letter-spacing: 0.3px;
  line-height: 25px;
  color: #3d3d3d;
}
.blog_card-content > a {
  color: rgba(231, 76, 60);
  float: right;
  margin-top: 1rem;
  font-size: 1.3rem;
}
/* Blog/Comment */
#blog-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.enter-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.blog-msg {
  width: 60%;
  height: 20px;
  padding: 13px;
  font-size: 13px;
  border-radius: 20px;
  border: solid 1px rgb(103, 103, 103);
}
.blog-enter {
  padding: 3px 20px;
  margin-left: 10px;
  border-radius: 15px;
  background-color: rgba(231, 76, 60, 0.8);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.blog-list {
  list-style: none;
}
.blog-list-item {
  height: auto;
  width: min-content;
  max-width: 500px;
  width: 100%;
  margin: 10px 0;
  padding: 10px 20px;
  border: solid 1px rgb(103, 103, 103);
  border-radius: 10px;
}
.blog-name {
  font: bold 10px Arial;
  margin-bottom: 10px;
}
.discuss {
  margin: 10px 0px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: tomato;
  text-decoration: underline;
}
.comment-msg {
  font-size: 13px;
}

@media screen and (max-width: 700px) {
  .blog_bg {
    height: 200px;
  }
  .blog_card {
    flex-direction: column;
  }
  .blog_container {
    margin: 0;
  }
  .blog_card-img {
    width: 100%;
  }
  .blog_card-content {
    width: 100%;
  }
  .blog_card-content p,
  .blog_card-content a {
    font-size: 13px;
  }
  .blog_card-content h1 {
    font-size: 22px;
  }
  .blog_card-content h2 {
    font-size: 18px;
  }
  .blog_card-content span {
    font-size: 14px;
  }
  .blog_heading {
    font-size: 26px;
    padding-top: 100px;
  }
  .blog-msg {
    font-size: 12px;
  }
}
