<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


</head>

<body>
    <div class="jumbotron" style="background-color: white">

        <div class="row" style="background-color: rgba(128, 128, 128, 0.219); border-radius:5px; padding:7px">
            <div class="col">
                <img src="pages/images/5-soham.png" style="height:55px;" alt="NGMA image">
                <img src="pages/images/icons/map-marker.png" alt="soham image">
            </div>
            <div class="col " style="justify-content: center; margin-left:190px; margin-top:10px">
                <h3>Hall of Fame</h3>
            </div>
            <div class="col order-1">
                <div class="dropdown" style="margin-left: 225px;  margin-top:1px">
                    <button
                        style=" height: 50px;width:200px;background: transparent linear-gradient(255deg, #FFBF5E 0%, #F68A28 100%) 0% 0% no-repeat padding-box;"
                        class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Monthly
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group" style=" padding:20px;">
            <div class="card" style="width:200px; border:solid white;  ">
                <img src="https://t3.ftcdn.net/jpg/02/96/06/10/240_F_296061080_6vaFg3RVuvZV0LLUF8nR1TfMiSLVkp0h.jpg"
                    class="card-img-top" alt="..." style="height: 320px;">
                <div class="card-img-overlay">
                    <p style="background-color: white; border-radius:180px;width:30px; opacity:0.7;"><svg
                            style="height:30px; margin-left: 5px; color:w" xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                            <path
                                d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                        </svg></p>
                    <p style=" background-color: white; border-radius:180px;width:25px; margin-top: 225px; margin-left: 480px; opacity:0.7"><svg style="color:red; margin-left:4px; opacity:0.8" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg></p>
                </div>

                <div class="card-body">
                    <div class="row ">

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="">
                            <h5 class="card-title">Artist</h5>
                        </div>
                        <div class="col-md-4 offset-md-4"> <button type="button" class="btn btn-dark pull-right"
                                style="margin-left: 25px; background: transparent linear-gradient(255deg, #FFBF5E 0%, #F68A28 100%) 0% 0% no-repeat padding-box;">Visit
                                Profile</button>
                        </div>
                    </div>

                    <p style="font-style: italic;">Created by</p>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima vitae ducimus
                        corrupti cum et tempora aperiam mollitia accusantium illum doloribus dolorem facere ipsa a
                        error, assumenda voluptas eos necessitatibus optio.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Uploaded 3 mins ago</small>
                </div>
            </div>
            <div class="card" style="margin-left: 200px; border:solid white;">
                <img src="https://t3.ftcdn.net/jpg/02/96/06/10/240_F_296061080_6vaFg3RVuvZV0LLUF8nR1TfMiSLVkp0h.jpg"
                    class="card-img-top" alt="..." style="height: 320px;">
                    <div class="card-img-overlay">
                        <p style="background-color: white; border-radius:180px;width:30px; opacity:0.7;"><svg
                                style="height:30px; margin-left: 5px; color:w" xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                <path
                                    d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                            </svg></p>
                        <p style=" background-color: white; border-radius:180px;width:25px; margin-top: 225px; margin-left: 480px; opacity:0.7"><svg style="color:red; margin-left:4px; opacity:0.8" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                          </svg></p>
                    </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="">
                            <h5 class="card-title">Artist</h5>
                        </div>
                        <div class="col-md-4 offset-md-4"> <button type="button" class="btn btn-dark pull-right"
                                style="margin-left: 25px; background: transparent linear-gradient(255deg, #FFBF5E 0%, #F68A28 100%) 0% 0% no-repeat padding-box;">Visit
                                Profile</button>
                        </div>
                    </div>
                    <p style="font-style: italic;">Created by</p>

                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, laudantium
                        dolorum numquam quasi animi voluptate suscipit ratione eaque impedit officiis a fuga vero
                        perferendis totam iusto fugit eveniet omnis? Pariatur.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Uploaded 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</body>

</html>